<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yangzhongyu.myapplication" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></permission>
    <permission android:name="android.permission.WRITE_MEDIA_STORAGE"></permission>
    <permission android:name="android.permission.CHANGE_WIFI_STATE"></permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:theme="@style/Base.AppTheme"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:supportsRtl="true" >
        <activity android:name="com.ejia.activity.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ejia.activity.RegisterActivity"/> >

        <activity android:name="com.ejia.activity.EjiaMainActivity"/>

        <activity android:name="com.ejia.activity.SignDetailActivity"/>

        <activity android:name="com.rupeng.view.FileMasterTabActivity"/>

        <service android:name="com.rupeng.view.service.HTTPService"/>
    </application>

</manifest>